.navigation {
  padding: 23px 8px 10px 14px;
  border-radius: 0px 20px 0px 0px;
  background: rgba(33, 18, 40, 0.65);
  width: 240px;
}

.navigation__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  user-select: none;
  margin-bottom: 37px;
  gap: 12px;
}

.navigation__buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.navigation__button {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 43px;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .navigation__button-text {
    display: none;
  }
  .navigation__button {
    padding-left: 10px;
    padding-right: 10px;
  }
  .navigation {
    width: fit-content;
  }
}

.navigation__button:hover {
  background-color: #5D4468;
}