.table__wrapper {
  overflow-x: auto;
  height: 100%;
  background-color: #23132C;
  border-radius: 10px;
}

.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.table__row {
  display: flex;
  flex-direction: row;
  width: fit-content;
  background-color: #2C1935;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 5px;
}

.table__row--first {
  color: #776284;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px 10px 0 0;
  margin: 0;
  height: 40px;
  background-color: #23132C;
  border-bottom: 1px solid #372447;
}

.table__cell {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.table__row--first .table__cell:first-child {
  border-left: 2px solid #372447;
}

.table__resize-handle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 2px;
  cursor: col-resize;
  z-index: 999;
  background-color: #372447;
  height: 300px;
}

.table__resize-handle:hover {
  background-color: #A101F6;
  width: 15px;
  right: -5px;
}

.table__cell--last {
  flex: 1;
}

.steam-account-buttons {
  display: flex;
  gap: 5px;
}

.steam-account-avatar {
  border-radius: 10px;
}

.browser-btn-wrapper {
  display: flex;
  gap: 5px;
}

.browser-btn {
  min-width: 53px;
  font-size: 12px;
  height: 29px;
  line-height: 29px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.browser-btn--start {
  background-color: #2C293B;
  border: 1px solid #379A5E;
  color: #379A5E;
}

.browser-btn--stop {
  background-color: #3C1935;
  border: 1px solid #9A3737;
  color: #9A3737;
}

.browser-btn--wait {
  background-color: #3D2633;
  border: 1px solid #A0872D;
  color: #A0872D;
}

.account-tools {
  display: flex;
  gap: 5px;
  padding-left: 10px;
  padding-right: 10px;
}