html {
    background-color: transparent;
}

.auth-container {
    text-align: center;
    padding: 20px;
}
.auth-inputs {
    padding-top: 20px;
}
.auth-inputs input {
    margin-bottom: 10px;
}
.auth-forgot-password {
    float: right;
    color: #776284;
    font-size: 14px;
    cursor: pointer;
}
.auth-button-container {
    padding-top: 40px;
    width: 100%;
}