.attic {
    user-select: none;
    height: 35px;
    display: flex;
    justify-content: start;
    padding-left: 20px;
}

.attic__drag {
    width: 100%;
    padding-top: 10px;
    font-size: 13px;
    -webkit-app-region: drag;
}

.attic__buttons {
    display: flex;
}

.attic__button {
    width: 32px;
    padding-left: 10px;
    padding-right: 10px;
}

.attic__button--maximize:hover {
    background-color: #372447;
}

.attic__button--minimize:hover {
    background-color: #372447;
}

.attic__button--close:hover {
    background-color: red;
}