.attic {
    user-select: none;
    display: flex;
    justify-content: start;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #1F1F1F;
    margin-bottom: 10px;
    border-radius: 0 0 15px 15px;
}

.attic__drag {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    -webkit-app-region: drag;
}

.attic__buttons {
    display: flex;
}

.attic__button {
    width: 40px;
    padding-left: 15px;
    padding-right: 15px;
}


.attic__button--maximize:hover {
    background-color: #372447;
}

.attic__button--minimize:hover {
    background-color: #372447;
}

.attic__button--close:hover {
    background-color: red;
}