.form {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    position: fixed;
    background-color: #22142A;
}

.form .form-caption {
    display: flex;
    justify-content: space-between;
    background-color: #24172F;
    height: 40px;
    border-radius: 20px 20px 0px 0px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 40px;
    font-size: 14px;
}
.form .form-caption .form-cross {
    width: 60px;
    height: 40px;
}
.form .form-caption .form-cross:hover {
    background-color: red;
}