.proxy__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.proxy-create__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 28px 40px 0px 28px;
}

.proxy-create-input {
  background: #372447;
  border: 1px solid #776284;
  border-radius: 10px;
  outline: none;
  padding: 10px 18px;
  height: 50px;
  resize: none;
  margin-bottom: 20px;
}

.proxy-table__container {
  padding: 0px 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.proxy-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-spacing: 0px 6px;
}

.proxy-table-header {
  display: flex;
  width: 100%;
}

.proxy-table-header-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 20%;
  padding-bottom: 15px;
}

.proxy-item__container {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: hidden;
}

.proxy-button__container {
  padding: 0px 25px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
