.notification {
    position: fixed;
    width: 480px;
    height: 330px;
    background-color: #22142A;
    border-radius: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.notification .notification_content {
    text-align: center;
}
.notification .notification_content .button_gradient {
    margin: auto;
    width: 135px;
}
.notification .notification_content .notification_title {
    overflow-y: hidden;
    overflow-x: hidden;
}
.notification .notification_content .notification_text {
    height: 110px;
    margin-bottom: 10px;
    overflow: auto;
}

.notification .notification_content .notification_text::-webkit-scrollbar {
    height: 3px;
    width: 3px;
    background-color: #2D1E36;
}
.notification .notification_content .notification_text::-webkit-scrollbar-thumb {
    background: linear-gradient(121.85deg, #ff00e5 2.04%, #7000ff 108.41%);
    border-radius: 2px;
}

.notification .notification_content .notification_title::-webkit-scrollbar {
    height: 3px;
    width: 3px;
    background-color: #2D1E36;
}
.notification .notification_content .notification_title::-webkit-scrollbar-thumb {
    background: linear-gradient(121.85deg, #ff00e5 2.04%, #7000ff 108.41%);
    border-radius: 2px;
}